html{
  font-family: Helvetica, Arial, sans-serif;
/*  min-width: 400px;
  max-width: 2000px; */
  font-size: calc(7px + 1vw) !important;
/* height: 100%;
width: 100%; */

/* display: inline-block; */
}

@media (min-width: 700px) {  
  html{
    /* Minimum font size */
    font-size: 14px
  }
}

@media (min-width: 700px) {  
  .sino_back_txt{
    /* Minimum font size */
    font-size: 14px
  }
}

@media (min-width: 700px) {  
  .contact__card{
    /* Minimum font size */
    font-size: 14px
  }
}

@media (min-width: 700px) {  /* .sino_back_txt .contact__card .page-footer__inner #prices .slogan .page-header__nav */
  #prices{
    /* Minimum font size */
    font-size: 14px
  }
}

table, th, td{
  border:1px solid black;
}

/* pop up when scroll below gallery
transform, time animation */


.productBtnTxt{
  cursor: pointer;
}

.test {
/*  width: 10em;
  height: 1.25em;
  background: white; */
  position: relative;
  animation-name: productsBtn;
  animation-duration: 5s;
  animation-fill-mode: forwards;
  /* cursor: pointer; */
}

@keyframes productsBtn {
  from {top: 0px;}
  to {top: 4.65vh; /* background-color: #00AEEF */ ;}
}




.page-header__nav
{
/*  position: static;
  /* below for sticky */
  /* padding-left: 39.1vw;
  padding-right: 2.2vw; */
  font-size: calc(5px + 1vw) !important;
/*  margin-top: -2vw;  uncomment if nav doesnt move */
/*  overflow: hidden; */
padding-left: calc(36vw + 2vw) !important;
margin-top: -2vh !important;
/*  float: right; */


/*
  position: fixed;
top: 0.5vh;
left: calc(52vw - 10vw);
z-index: 999;
-webkit-box-shadow: 0 2px 4px 0 #424242;
box-shadow: 0 2px 4px 0 #424242;

width: calc(58.5vw - 2vw);
height: calc(10vh - 2vh);
display: inline-flex;
background-color: white; */
}

/* sticky nav header all
.p-header{
  position: fixed;
  z-index: 1;
  background-color: black:
  border: 1px solid #f1f1f1;
  margin-top: -1.5em;
/*  margin-bottom: 2em; delete
  height: 15vh;
} */

/* header{
  position: fixed;
  z-index: 1;
  background-color: black:
  border: 1px solid #f1f1f1;
} */

/* move nav with scroll
position: fixed;
border: 2px solid #00AEEF;
 background-color: white;
height: 10vh;
z-index: 1;
*/

/*  font-family: Helvetica, Arial, sans-serif; */
/*  margin-top: -1.2em;
  float: right;
  margin-left: auto; */
/*  margin-right: 2.6em; */
/* padding-left: 54%;
padding-right: 0.5em; */
  /*  position: fixed;
  float: right;
  /* right: 10vh; */
/* margin-left: auto;
margin-right: 0; */
/* margin: -10% 0 20% auto;
 font-size: calc(6px + 1vw);}
} */

.page-header__inner
{
  display: block; /* inline-block */
/* sticky
  position: fixed;
  z-index: 1;
  background-color: white;
  border-width: 2px;
border-color: red;
border-style: solid;
/*  margin-top: -1.5em;
  margin-bottom: 2em;
  height: 10em; */
}

.p-header{
/*  margin-top: 0.1vh; */
/* top: 0.5vh; */

top: 0 !important;


  position: fixed !important;
/*   top: 0vh; */
/* left: calc(52vw - 10vw); */
z-index: 999 !important;
-webkit-box-shadow: 0 2px 4px 0 #424242;
box-shadow: 0 2px 4px 0 #424242;

 width: calc(99.877% - 14.5px) !important; /* - 14.5px */

/*  width: calc(70vw - 2vw); */
/* height: calc(25vh - 12vh); */
height: calc(53.4em - 46em) !important;
 display: inline-block !important;
background-color: white !important;

/*  float: none;
   position: fixed; */
/*  position: -webkit-sticky; /* Safari
position: sticky;
  z-index: 1;
  background-color: white;
  border-width: 0.2vw;
border-color: red;
border-style: solid; */
/* max-width: 98.2%; */
/* width: calc(0.4% + 97.7vw);/* calc(0.55vw + 97.7vw); */
/*width: calc(5% + 93.1%); /* 97.5vw; */
/* width: 100%; */
/* height: calc(22% - 2%);/* calc(0.2vw + 18.7vw);
max-height: 30%; */
}

.page-header__nav-link
{
  color: black !important;
}

/* .page-header__nav-link:hover
{background-color: #1BBC9B;
  text-decoration: none;
  color: white;
  cursor: pointer;
border: 0.5em solid} */

/* */
.page-header__nav-link:active{
background-color: #4CAF50 !important;
  border: none !important;
  color: white !important;
/*  padding: 0.3rem 0.3rem; */
  text-align: center !important;
  text-decoration: none !important;
  display: inline-block !important;
  /* font-size: 1em; */
/*  margin: 0.1em 0.1em; */
  cursor: pointer;}


.page-header__nav-link:hover
{
   background-color: #00AEEF !important;
  text-decoration: none !important;
  /* border: hidden; */
  text-align: center !important;
/*  display: inline-block; */
/*  padding-right: 0.2em; */
  cursor: pointer;
  color: white !important;
}

/*
.page-header__nav-link:hover{
  background-color: #00AEEF;
  border: hidden;
  color: white; */
  /* padding: 2px 2px; */
/*  text-align: center;
  text-decoration: none;
  display: inline-block;
   font-size: 1em; */
/*  margin: 0.1em 0.1em; */
/*  cursor: pointer;
 font-size: calc(6px + 1vw); } */

/*.promo
{ background-image: url("../static/img/a.jpg");
  background-repeat: no-repeat;
  background-size: cover;} */

#home{
  width: 100% !important;
  height: 20% !important;
  background-repeat: no-repeat !important;
  background-attachment: fixed !important;
  background-size: cover;

  padding-top: calc(15.8vw - 1vw) !important;
}




#img1
{
  width: 100% !important;
  height: 20% !important;
  background-repeat: no-repeat !important;
  background-attachment: fixed !important;
  background-size: cover;

  padding-top: calc(15vw - 1vw) !important;
/*  margin-top: 15.8vw !important; */

/*  margin-top: 10em; /* stiky nav menu, logo, logan */
 }



.page-header__logo{
font-size: calc(5px + 1vw) !important;
  margin-left: 1.6em !important;
/*  padding-top: 1em; */
  margin-bottom: 0.5em !important;
  margin-top: -1em !important;
}

.slogan
{
/*  margin-top: 1vw;   */
/*  font-size: calc(3.5px + 1vw); */
font-size: calc(3.2px + 1vw) !important;
}

.promo{
margin: -18em 0em 0em 1em;
  /* margin-top: -20em ; */
color: yellow;
/* font-size: calc(7px + 1vw);*/ }

.promo__title{
  color: yellow;
}

.promo__descr{
  color: yellow;
}

.promo__btn{color: yellow;}

/*
#gallery_Css{
/*  font-size: calc(7px + 1vw);
  padding-top: 17em;
}
*/

.social__descr{
  text-align: center;
}

.social_logos{

  width: auto;
  height: auto;

  margin-left: calc(0vw - 1px);
  text-align: center;
}


#twitter{
  background-color: #00AEEF;
  width: calc(3.5vw + 1vw); /* + 1vw */
  height: auto;
  /* margin-left: calc(15vw + 2vw); */

}

#twitter:hover{
  background-color: #00AB99;
  cursor: pointer;
  width: calc(3.5vw + 1vw);
  height: auto;
  /* margin-left: calc(15vw + 2vw); */
}

 #fb{
   width: calc(3.5vw + 1vw);
   /* margin-left: calc(30vw + 2vw); */
}

#fb:hover{
  background-color:  #00AB99;
  cursor: pointer;
  width: calc(3.5vw + 1vw);
  /* margin-left: calc(30vw + 2vw); */
}


/*
 #fb1{
  width: 3vw;
}

#fb1:hover{
  background-color:  #00AB99;
  cursor: pointer;
} */

#InstaLogo{
  width: calc(3.6vw + 1vw);
/*   margin-left: calc(30vw + 2vw); */
}

#InstaLogo:hover{
  background-color:  #00AB99;
  cursor: pointer;
  width: calc(3.6vw + 1vw);
/*  margin-left: calc(30vw + 2vw); */

}

.flip_box {
  background-color: transparent;
/*  width: 300px;
  height: 200px; */
  min-width: 10vw;
  min-height: 16vw;
  width: 27vw;
/*  height: 28vh; */
  height: calc(11vw + 1vw);
  border: 1px solid #f1f1f1;
  perspective: 1000px;
  border-style: hidden;
  overflow: hidden;
  display: flex;
}




.flip_inner {
  position: relative;
  width: 100%;
  height: 100%;
  text-align: center;
  transition: transform 0.8s;
  transform-style: preserve-3d;
}

.flip_box:hover .flip_inner {
  transform: rotateY(180deg);
}

.flip_box:active .flip_inner {
  transform: rotateY(180deg);
}

.flip_front, .flip_back {
  position: absolute;
  width: 100%;
  height:  100%;
  -webkit-backface-visibility: hidden;
  backface-visibility: hidden;

/*   background-color: #4CAF50; */
  color: white;

}

/*
.flip_front {
/*  background-color: #bbb; orig
  background-color: #4CAF50;
  color: white;
} */

.flip_back {
/*  background-color: #555; */
background-image: linear-gradient(to right, #4CAF50, #00AEEF, #E90188); /* , #00A797 */
  color: white;
  transform: rotateY(180deg);
}


.sino_back_txt{
  color: white;
  font-size: calc(5px + 1vw);
  font-weight: 600;
  letter-spacing: 0.15vw;
}

/*
.itemDesc{
  color: white;
  font-weight: 600;
 font-size: calc(4px + 1vw);
 margin-top: 1.4em;
}

.h2Flip{
  padding-top: 1vh;
 font-size: calc(5px + 1vw);
} */

/*.colorBlock{
  text-align: center;
  width: 99%;
  height: 10em;
  border: 2px solid green;
  /*
  margin-top: 22em;
  margin-bottom: 4em;
  margin-right: -10em;
} */

.promotion{
  /* margin-top: 8em; */
  text-align: center;
  border: 2px solid #00AEEF;
  height: 20em;
  background-color: #00AEEF;
}

.colorBlock{
   padding-top: 4.5em;
  height: 100%;
  width: 100%;
}

.PriceGallery{
  width: 100% auto;
  text-align: center;
}

/*
ul{
  width: 100%;
}

li{
  width: 100% auto;
} */

#prices{
/*  padding-left: 2.85vw; */
  width: 100%;
  text-align: center;
  font-size: calc(6px + 1vw);
}

/*
.tableImg{
  max-width: 100%;
/*  width: 10vw;
  resize: horizontal;
  border-collapse: collapse;
/*  min-width: 1em;
/*  padding-left: 2em;
padding-right: 2em;
  text-align: center;
} */


.galleryImg {
  max-width: inherit;
  max-height: inherit;
/*  height: inherit;
  width: inherit; */
  width: calc(25vw + 2vw);
  height: calc(18vw - 2vw);
  object-fit: cover;
}

li{
  padding-left: 2.85vw;
}

.GallerySec{
  text-align: center;
  padding-top: 17em;
}

.Social_title{
  text-align: center;
}

.contact__card{
/*  margin-top: -10em;
  padding-right: 2vw;
  float: right; */
  font-size: calc(7px + 1vw);
}


.contact{
    background-color: #ECF0F1;
    height: calc(35em - 1vw); /* 31em */
    text-align: center;
}

.form_submit_btn{
  /* position: relative; */
  text-align: center;
  /* font-size: calc(3px + 1vw); */
  background-color: #00AEEF;
  /*
  height: calc(5vw - 2vw); /* 2em;
  width: calc(10vw - 3vw);/* 6em; */

  height: calc(2.8vw + 2vw);
  width: calc(7.5vw + 4.7vw);
  font-size: calc(7px + 1vw);


  margin-left: calc(38.5vw + 4.8vw); /* 46%; /* 46.5vw; */ /* calc(46.5vw - 10px); */
  /* margin-top: 2.9vh; */
  margin-top: 3.6vh;
  display: block;
  border: none;
}

.form_submit_btn:hover{
  text-align: center;
  /* font-size: calc(3.5px + 1vw); */
  background-color: #00AB99;

  height: calc(2.8vw + 2vw);
  width: calc(7.5vw + 4.7vw);
  font-size: calc(7px + 1vw);


  margin-left: calc(38.5vw + 4.8vw);


  /*
  height: calc(5vw - 2vw); /* 2em;
  width: calc(10vw - 3vw);/* 6em;
  margin-left: calc(50.7vw - 5vw); /* 46%; /* 46.5vw; */ /* calc(46.5vw - 10px); */
  margin-top: 3.6vh;
  display: block;
  border: none;
  cursor: pointer;
}

.page-footer__inner{
 padding-left: 1em;
 font-size: calc(4px + 1vw);
 padding-top: 1.3em;
}

.arrow-top{
  margin-left: 80vw;
/*  margin-top: -10vh;
 padding-top: -50vw; */
  text-align: center;
  background-color: #ECF0F1;
  width: 2vw;  /* 1.8vw; */
  /* height: 2vw; */
}

.arrow-top:hover{
  cursor: pointer;
  background-color: #00AEEF;
/*  margin-left: 60vw; */
  /* margin-top: -10vh; */
  text-align: center;
  /* width: 2.2vw;
  height: 2.2vw; */

}

#contact_email{
  color: #4183C4;
}

#contact_email:hover{
  color: #4183C4;
  text-decoration: underline;
}

.contact__form-tarea{
  resize: none;
  height: calc(8vw - 2vw);
  border: 2px solid #bec3c7;

  /* not in line */
  margin-top: 1.3vw;
}

.contact__form-input{
  border: 2px solid #bec3c7;

  /* not in line */
  margin-top: 1.3vw;
}

footer{
  background-color: #00AB99;
  height: 7.9vw;

/*  margin-top: 2em;
  padding-bottom: 1em; */
}

/*  .page-header__nav-link:active
  {background-color: #1BBC9B;
    text-decoration: none;
    color: white;
    cursor: pointer;} */

/* .page-header__nav:hover
{background-color: #1BBC9B;
  text-decoration: none;
  cursor: pointer;} */
